html, body{
  height : 100%;
}

.container-fluid{
  height: 100%;
}

.full-height{
  height: 100%;
}

.header-section{
  height: 50px;
  padding-bottom:5px;
  margin-top: 10px;
}

.header-section .panel{
  height: 100%;
  margin: 0px;
}

.main-section{
  height: 90%;
  margin-bottom: 0px;
}

.main-section .panel{
  height : 100%;
  margin: 0px;
}

.chart-section{
  height: 40%;
  overflow: hidden;
  padding-bottom: 2px;
}

.market-data-section{
  height: 40%;
  overflow: hidden;
}

.table{
  text-align: center;
}

.table th {
  text-align:center;
}

.tab-content{
  height: 100%;
}

.panel-heading{
  padding: 5px;
}

.orders-section{
  padding-top: 5px;
  height: 30%;
  overflow: hidden;
}

.positions-section{
  padding-top:5px;
  height: 30%;
}

.transactions-section{
  height: 60%;
  padding-top:5px;
  overflow: hidden;
}

.header-tile-outer{
  display: table;
  height: 100%;
}

.header-tile-inner{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.header-tile{
  text-align: center;
  width: 100%;
}

.header-tile h5{
  margin: 0px;

}

.border-right{
  border-right: 1px solid #f4f4f4;
}

.border-left{
  border-left: 1px solid #f4f4f4;
}

